.profile {
	margin-top: 7rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	.information {
		position: relative;
	}
	.avatar-container {
		position: relative;
		@include glass;
		.avatar-row {
			display: flex;
			flex-direction: column;
			align-items: center;
			@media (min-width: 768px) {
				flex-direction: row;
			}
		}

		svg {
			width: 340px;
			height: 340px;
			fill: $orange-color;
			@media (min-width: 768px) {
				width: 400px;
				height: 400px;
			}
		}
		.avatar {
			position: absolute;
			top: 70px;
			left: 70px;
			object-fit: fill;
			width: 270px;
			height: 250px;
			border-radius: 33% 67% 32% 68% / 40% 22% 78% 60%;
		}
		.description-col {
			h3 {
				font-weight: bold;
				font-size: 2rem;
				color: $white-color;
				text-align: center;
				animation: myAnim 1s ease 0s 1 normal forwards;
				@media (min-width: 768px) {
					text-align: left;
				}
				span {
					font-weight: bold;
					font-size: 2rem;
					color: $orange-color;
				}
				@media (min-width: 768px) {
					h3 {
						font-size: 3rem;
						span {
							font-size: 3rem;
						}
					}
				}
			}
			.description {
				font-size: 1rem;
				text-align: center;
				color: $white-color;
				@media (min-width: 767px) {
					font-size: 1.2;
					text-align: left;
				}
			}
		}
	}
	.calling {
		padding: 2rem;
		@include glass;
		.blob-btn {
			max-width: unset;
		}
		.calling-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			h4 {
				font-size: 1rem;
				font-weight: bold;
				color: $white-color;
				padding-top: 1rem;
				padding-bottom: 1rem;
			}
			.calling-buttons {
				display: flex;
				gap: 20px;
				padding-bottom: 1rem;
				flex-wrap: wrap;
				@media (min-width: 767px) {
					margin-bottom: 2rem;
				}
			}
		}
	}
	.social {
		@include glass;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem;

		h3 {
			font-size: 1rem;
			font-weight: bold;
			color: $white-color;
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
		.socailmedias {
			display: flex;
			gap: 20px;
			flex-wrap: wrap;
		}
	}
}

body[dir="rtl"] .profile {
	.information {
		position: relative;
	}
	.avatar-container {
		position: relative;
		@include glass;
		.avatar-row {
			display: flex;
			flex-direction: column;
			align-items: center;
			@media (min-width: 768px) {
				flex-direction: row;
			}
		}
		.avatar {
			position: absolute;
			top: 70px;
			right: 10px;
			width: 250px;
			height: 250px;
			object-fit: fill;
			border-radius: 33% 67% 32% 68% / 40% 22% 78% 60%;
			@media (min-width: 480px) {
				top: 70px;
				right: 70px;
				width: 270px;
				height: 270px;
			}
		}
		.description-col {
			h3 {
				font-weight: bold;
				font-size: 2rem;
				color: $white-color;
				animation: myAnim 1s ease 0s 1 normal forwards;
				@media (min-width: 768px) {
					text-align: right;
				}
				span {
					font-weight: bold;
					font-size: 2rem;
					color: $orange-color;
				}
				@media (min-width: 768px) {
					h3 {
						font-size: 3rem;
						span {
							font-size: 3rem;
						}
					}
				}
			}
			.description {
				font-size: 1rem;
				text-align: center;
				color: $white-color;
				@media (min-width: 767px) {
					font-size: 1.2;
					text-align: right;
				}
			}
		}
	}
}
